html {
    min-height: 100%;

}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(140deg, #007696, #011c3f);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 30% auto 0 auto;
    background-color: rgba(6, 58, 74, 0.6);
    background-color: rgba(6, 58, 74, 0.6);
    width: 60%;
    border-radius: 10px;
}

.form form {
    width: 80%;
}

.form input {
    margin: 4% 0 0 0;
    padding: 10px;
    border-radius: 5px;
    width: 97%;
    border: none;
    box-shadow: #000000;
}

.form input[type="submit"] {
    margin-top: 13%;
    box-sizing: content-box;
    cursor: pointer;
    width: 97%;
}

.form label {
    text-align: left;
    display: block;
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    width: 80%;
    padding: 10% 0 0 0;
}

.output {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% auto auto auto;
    width: 80%;
    width: 80%;
    color: white;
}

a input {
    width: 5%;
    box-sizing: content-box;
    margin-top: 1%;
    margin-left: 1%;
    cursor: pointer;
}

@media (max-width: 650px) {
    .form {
        width: 80%;
        margin: 10% auto 0 auto;
    }
    .output {
        width: 80%;
    }
    #admin {
        width: 15%;
    }
}
@media (min-width: 800px) {
    .form {
        width: 40%;
        margin: 15% auto auto auto;
    }
    .output {
        width: 40%;
    }
    #admin {
        width: 5%;
    }
}

@media (min-width: 1000px) {
    .form {
        width: 40%;
        margin: 4% auto auto auto;
    }
    .output {
        width: 40%;
    }
    #admin {
        width: 5%;
    }
}