body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(140deg, #007696, #011c3f);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20% auto auto auto;
    background-color: rgb(0, 118, 150);
    width: 50%;
    border-radius: 10px;
}

.form form {
    width: 80%;
}

.form input {
    margin: 20px 0px 0px 0px;
    padding: 10px;
    border-radius: 5px;
    width: 97%;
    border: none;
    box-shadow: #000000;
}

.form input[type="submit"] {
    box-sizing: content-box;
    cursor: pointer;
    width: 97%;
}

.output {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% auto auto auto;
    width: 40%;
    color: white;
}

#admin {
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 2%;
    right: 2%;
    width: 10%;
}