* {
    font-family: "lato";
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10% auto auto auto;
    background-color: blue;
    width: 40%;
}

.output {
    visibility: hidden;
}